body
{	
	background: white url(../img/fon.jpg) repeat;
	background-color: #f8f8f8;
}
html,
body {
	height: 100%
}
/*ко всем меню*/
.menu
 {
 	font-family: 'Georgia', serif;
	font-size: 14px;
	font-weight: bold;
	font-style: italic;
	text-decoration: none;
	list-style-type: none;
}
/* к товарам*/
.zagkat
{
	background: #ADBFAD;
	margin: 2% 6% 0 6%;
	padding: 1% 1%;
	border: 2px ridge #40CEB5;
	min-height: 500px;
}
.zagkat h1, h3
	{
		color: black;
		font-size: 18px;
		font-weight: 400;
		background-color: #eaeaea;
		text-align: center;
	}

.krat p
{
	color: #707070;
	font-size: 14px;
	font-style: italic;
	line-height: 16px;
}
/*рамка в каталоге*/
.ramka img
{
box-shadow: 7px 10px 5px 0px rgba(0,0,0,0.75);
box-shadow: 7px 10px 5px 0px rgba(0,0,0,0.75);
box-shadow: 7px 10px 5px 0px rgba(0,0,0,0.75);
}

/* к товарам*/
.har p
{
	color: #484343;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	text-align: left;
}
.har ul
{

 	font-family: 'Georgia', serif;
	font-size: 14px;
	font-weight: bold;
	font-style: italic;
	text-decoration: none;
	list-style-image: url(../img/7.gif);
}
.proch b
{

 	font-family : Courier New, monospace;
	
}
/* контакт и каталог*/
.ram
{
	background: #ADBFAD;
	margin: 2% 6% 0 6%;
	padding: 1% 1%;
	border: 2px ridge #40CEB5;
	min-height: 500px;
}
.ram h1, h3
{
text-align: center;
}
/*контакт*/

input[type=text]
{
	font: bold 14px "Times New Roman", Verdana;
	width: 200px;
	height: 18px
}
input[type=submit]
{
	font:  bold 14px Times New Roman, Verdana;
	width: 100px;
}
.ram textarea
{
	font:  bold 14px Times New Roman, Verdana;
	height: 100px;
	width: 400px;
}
/* контакты*/
.adres 
{
text-align: center;
}
/*псевдоклассы для меню*/
.menu li a:hover {
	color: yellow;
}

/* исчезает тень*/
.krat img:hover {
box-shadow: none;
}
/* для table*/
table {
	border: 1px solid #000;
	height: 200px;
	width: 400px;

}
th, td {
	border: 1px solid #000;
}
.table th {
	height: 200px;
}
/* с большой буквы слова*/
.ram input[type="text"], textarea{
  text-transform: capitalize; 

}
/* активирует и меняет цвет*/
.dum input:focus   {
	 color: #930;
	 background-color: #ffe;
}
/*.menu li:nth-child(4):after {
	content: "new";
	color: red;
	text-transform: uppercase;
}
*/
/*перрвая буква в товарах
 больше и другого цвета*/
 .zagkat p:first-letter 
 {
 	font-family: Calibri, Times, serif;  
 	font-size: 45px;
 	color: #F2D11D;
 }
/* каталог ставим горизонтально*/
.ramka1  {
	height: 200px;
	margin: 0 auto;
	margin-top:  80px;
}
.pic1 {
width:  150px;
height: 150px;
margin: 2% 6% 0 6%;
	padding: 1% 1%;
float: left;
/*margin-left: 160px ;*/

}
.pic2 {
width:  150px;
height:  150px;
margin: 2% 6% 0 6%;
	padding: 1% 1%;
float: left;
/*margin-left: 120px ;*/

}
.pic3 {
width:  150px;
height:  150px;
margin: 2% 6% 0 6%;
	padding: 1% 1%;
float: left;
/*margin-left: 180px ;*/

}

.footer 
{
	height: 50px;
	text-align: left;
	padding: 1% 1%;
	background-color: #1B643D; 
	margin-top: -200px 0 auto;
	
	
}
.clr {
height: 20px;
}
.container {
	margin: 0 auto;
	padding: 1% 1%;
	
	} 

.container1 {
	min-height:100%;
	margin: 0 auto;
}

.header img {
	margin: 1%;
	
}

/*.header img {
	text-align: center;
	width: 40%;
}
*/
/*menu*/
.header ul {
	
	
	width: 90%;
	float: left;
}

.header   li {

	display: inline-block;
	font-size: 1.3em;
	margin: 2.5%;
	padding: 0.5% 0.5%;
	border: 2px ridge #fff;
	border-radius: 8px;
	background: rgba(255, 255, 255, 0.4);
    width: 12%;
    color: #141800;

}
.header li a {
	text-decoration: none;
	display: block;
	color: #141800;
	margin-left: 10%;

}

.header li:hover {
	background: #fff;
	border-style: solid;
}
.clear{
	clear: both;
}
.a-btn{
 background: linear-gradient(top, #a9db80 0%,#96c56f 100%);
 padding-left: 90px;
 padding-right: 105px;
 height: 90px;
 display: inline-block;
 position: relative;
 border: 1px solid #80ab5d;
 box-shadow:
 0px 1px 1px rgba(255,255,255,0.8) inset,
 1px 1px 3px rgba(0,0,0,0.2);
 border-radius: 4px;
 float: left;
 clear: both;
 margin: 10px 0px;
 overflow: hidden;
 transition: box-shadow 0.3s ease-in-out;
}
.a-btn img{
 position: absolute;
 left: 15px;
 top: 13px;
 border: none;
 transition: all 0.3s ease-in-out;
}
.a-btn .a-btn-slide-text{
 position: absolute;
 font-size: 36px;
 top: 18px;
 left: 18px;
 color: #6d954e;
 opacity: 0;
 text-shadow: 0px 1px 1px rgba(255,255,255,0.4);
 transition: opacity 0.2s ease-in-out;
}
.a-btn-text{
 padding-top: 13px;
 display: block;
 font-size: 30px;
 text-shadow: 0px -1px 1px #80ab5d;
}
.a-btn-text small{
 display: block;
 font-size: 11px;
 letter-spacing: 1px;
}
.a-btn-icon-right{
 position: absolute;
 right: 0px;
 top: 0px;
 height: 100%;
 width: 80px;
 border-left: 1px solid #80ab5d;
 box-shadow: 1px 0px 1px rgba(255,255,255,0.4) inset;
}
.a-btn-icon-right span{
 width: 38px;
 height: 38px;
 opacity: 0.7;
 border-radius: 20px;
 position: absolute;
 left: 50%;
 top: 50%;
 margin: -20px 0px 0px -20px;
 border: 1px solid rgba(0,0,0,0.5);
 background: #4e5c50 url(../images/arrow_down.png) no-repeat center center;
 box-shadow:
 0px 1px 1px rgba(255,255,255,0.3) inset,
 0px 1px 2px rgba(255,255,255,0.5);
 transition: all 0.3s ease-in-out;
}
.a-btn:hover{
 box-shadow:
 0px 1px 1px rgba(255,255,255,0.8) inset,
 1px 1px 5px rgba(0,0,0,0.4);
}
.a-btn:hover img{
 transform: scale(10);
 opacity: 0;
}
.a-btn:hover .a-btn-slide-text,
.a-btn:hover .a-btn-icon-right span{
 opacity: 1;
}
.a-btn:active {
 position:relative;
 top:1px;
 background:#80ab5d;
 box-shadow:1px 1px 2px rgba(0,0,0,0.4) inset;
 border-color: #a9db80;
}
.a-btn:active .a-btn-icon-right span{
 transform: scale(1.4);
}
.ramka p, a{
	
	float: left;
}
/* разделяет парагрофы*/
.har {
	clear: both;
}
/*.dum {
	float: left;
}*/
